docs/ai-visibility-engine/make-blueprint.json
{
  "name": "LME AI Visibility — Publiser artikkel til repo",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "parameters": [
          { "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true }
        ],
        "interface": [
          { "name": "slug", "type": "text" },
          { "name": "lang", "type": "text" },
          { "name": "seoTitle", "type": "text" },
          { "name": "title", "type": "text" },
          { "name": "metaDescription", "type": "text" },
          { "name": "summary", "type": "text" },
          { "name": "url", "type": "text" },
          { "name": "html", "type": "text" }
        ],
        "note": "Custom webhook. Ved import oppretter Make en webhook-URL — kopier den og sett den som MAKE_WEBHOOK_URL i ai-visibility-worker.js. Workeren POSTer {slug, lang, seoTitle, html} hit naar en artikkel publiseres."
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "filter": {
        "name": "Har slug + html",
        "conditions": [[
          { "a": "{{1.slug}}", "o": "exist" },
          { "a": "{{1.html}}", "o": "exist" }
        ]]
      },
      "mapper": {
        "url": "https://api.github.com/repos/Lmexplorers/lme-platform/contents/blog/{{1.slug}}.html",
        "method": "put",
        "headers": [
          { "name": "Authorization", "value": "Bearer YOUR_GITHUB_TOKEN" },
          { "name": "Accept", "value": "application/vnd.github+json" },
          { "name": "User-Agent", "value": "LME-AI-Visibility" }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"message\": \"AI Visibility: ny artikkel {{1.slug}} ({{1.lang}})\",\n  \"branch\": \"claude/lme-ai-visibility-engine-hGkpL\",\n  \"content\": \"{{base64(1.html)}}\"\n}"
      },
      "metadata": {
        "designer": { "x": 600, "y": -150 },
        "note": "Skriver artikkelen til /blog/<slug>.html via GitHub Contents API. Bytt YOUR_GITHUB_TOKEN med en fine-grained token (Contents: Read+Write). Vil du gaa via Pull Request i stedet, bruk GitHub-appens 'Create a File'-modul mot en egen branch. Sett 'branch' til main naar du er klar for live."
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "filter": {
        "name": "Har tittel",
        "conditions": [[ { "a": "{{1.title}}", "o": "exist" } ]]
      },
      "mapper": {
        "url": "https://connect.mailerlite.com/api/campaigns",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer YOUR_MAILERLITE_TOKEN" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "application/json" }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"name\": \"AI Visibility: {{1.seoTitle}}\",\n  \"type\": \"regular\",\n  \"emails\": [{\n    \"subject\": \"{{1.seoTitle}}\",\n    \"from_name\": \"Little Montessori Explorers\",\n    \"from\": \"hei@lmexplorers.com\",\n    \"content\": \"<h1>{{1.title}}</h1><p>{{1.summary}}</p><p><a href=\\\"{{1.url}}\\\">Les hele artikkelen</a></p>\"\n  }],\n  \"groups\": [\"YOUR_MAILERLITE_GROUP_ID\"]\n}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 150 },
        "note": "MailerLite: oppretter et kampanje-UTKAST om den nye artikkelen. Bytt YOUR_MAILERLITE_TOKEN og YOUR_MAILERLITE_GROUP_ID. Kampanjen sendes ikke automatisk — du gjennomgaar og sender den i MailerLite. (Du kan ogsaa bytte HTTP-modulen med MailerLite-appens native modul for OAuth.)"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "filter": {
        "name": "Har bilde-URL (Pinterest)",
        "conditions": [[ { "a": "{{1.imageUrl}}", "o": "exist" } ]]
      },
      "mapper": {
        "url": "https://api.pinterest.com/v5/pins",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer YOUR_PINTEREST_TOKEN" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "data": "{\n  \"board_id\": \"YOUR_PINTEREST_BOARD_ID\",\n  \"title\": \"{{1.title}}\",\n  \"description\": \"{{1.summary}}\",\n  \"link\": \"{{1.url}}\",\n  \"media_source\": { \"source_type\": \"image_url\", \"url\": \"{{1.imageUrl}}\" }\n}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 320 },
        "note": "Pinterest: oppretter en pin. KREVER en faktisk bilde-URL ({{1.imageUrl}}). Engine-en gir i dag en bilde-PROMPT, ikke et bilde — denne grenen kjoerer foerst naar Fase 3 genererer et bilde (Canva/Adobe MCP -> R2) og sender imageUrl i webhook-payloaden. Bytt YOUR_PINTEREST_TOKEN og YOUR_PINTEREST_BOARD_ID."
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com",
    "notes": [
      "LME AI Visibility Engine — Fase 2 auto-publisering.",
      "Importer: Make -> Scenarios -> Create new scenario -> ... -> Import Blueprint -> velg denne fila.",
      "Etter import: 1) aapne webhook-modulen og opprett/bekreft webhook -> kopier URL. 2) Sett MAKE_WEBHOOK_URL i ai-visibility-worker.js til den URL-en. 3) Bytt YOUR_GITHUB_TOKEN i HTTP-modulen. 4) Slaa paa scenarioet."
    ]
  }
}
